<!-- templates/flashcard.html-->
{% extends 'base.html' %}
{% block content %}


{%for card in cards%}
    <h5>{{card.question}} </h5><p>
    {{card.answer}} </p>
        

{% endfor %}
{% include "pagination.html" with page=cards %} 

--------------------------------------------------------

{% for error in form.errors %}
  {{error}}
    <p>
{% endfor %}

<form action="/flashcards/" method="POST">
    {% csrf_token %}
    {{ formcard.as_p }}
    <input type="submit" value="Submit" />
</form>

--------------------------------------------------------

<form action="/flashcards/" method="POST">
    {% csrf_token %}
    {{ formcategory }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}